<!DOCTYPE html>
<html>
  <head>
    <title>To do App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>To do アプリ</h1>
    <br>
    <h3>説明</h3>
    <h4>このアプリは、「To do アプリ」です。機能は、ユーザー名、アドレス、年齢、一言コメントなどメモしたいことを登録・編集・削除・更新することができます。</h4>
    <br>
    <%= yield %>
  </body>
</html>
